* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(#fdc2c2, #b5b9e4);
  background-repeat: no-repeat;
}

.col-lg-4{
  height: 80vh;
}
.col-lg-7{
  min-height: 80vh;
}
.container{
  width: 100%;
 min-height: 100vh;
}

.mainHeading h1 {
  text-align: center;
}
.subHeading h2{
text-align: center;
}

h1{
  color: rgb(77, 77, 77);
}
h2 {
  color: rgb(156, 156, 156);
}


.input {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(190, 190, 190);
  margin-top: 0.8em;
  width: 100%;
  height: 3rem;
  border-radius: 6px;
  padding: 5px;
  background: white;
}

 .input input {
  width: 100%;
  height: 2em;
  border-color: transparent;
  outline-color: transparent;
  font-size: 1rem;
  color: gray;
}

 i {
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  color: grey;
  margin-right: 5px;
}
 .todos {
 margin-left: 2rem;
}
 .todos .todo {
  margin-top: 0.8em;
  width: 20em;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 5px;
}
 .todos .todo .left {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
}

 .todos .todo .left p {
   
  margin-left: 10px;
  font-weight: 700;
  color: grey;
}

 
